<ion-view view-title="GV 99.1" scroll="false">
  <ion-content class="padding content-body">
      <div class="col header text-center gv-img" style="padding-top: 20%;">
        <img src="./img/gv-logo.png" class = "logo" />
      </div>
      <br>
      <div class="col header text-center">
        <iframe width="250" height="150" src="http://www.ustream.tv/embed/7444363?html5ui&autoplay=true" scrolling="no" allowfullscreen webkitallowfullscreen frameborder="0" style="border: 0 none transparent;">
      </div>
  </ion-content>
</ion-view>
